* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-image: linear-gradient(#42047e,#07f49e);
    background-repeat: no-repeat;
    background-size: cover;
}
.akhil{
    height: 40vh;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;     /*for if space is not then next line */
     justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    background-color: #00FFBF;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0, 0, 0,0.3);
    font-size: 8vmin;
    color: #AB4E52;

}

#msg{
    color: chartreuse;
    font-size: 5vmin;
}
.msgcon{
    height: 100vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;

}


#resetbtn{
    background-color: rgb(232, 207, 173);
    padding: 1rem;
    font-size:1.25rem;
    color: #f58127;
    border-radius: 1rem;
}
#newgm{
    background-color: rgb(232, 207, 173);
    padding: 1rem;
    font-size:1.25rem;
    color: #f58127;
    border-radius: 1rem;
}

.hide{
    display: none;
}

 