*{
    margin: 0;
    padding: 0;
    text-align: center;
    /* background-color: rgb(224, 236, 244);
    background-repeat: no-repeat;
    background-size: cover; */
}
.main{
    height: 100vh;
    background-color: #24e497;
}
h1{
    background-color: #1098f7;
    color: antiquewhite;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
     
}

.choice:hover{  
    cursor: pointer;
    background-color: rgb(4, 6, 6);

}
img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 40%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#userscore,#compscore{
    font-size: 4rem;
}
.msgcontainer{
    margin-top: 3rem;
}

#msg{
    background-color: rgb(38, 17, 59);
    color: rgb(209, 210, 193);
    font-size: 2rem;
    display: inline;
    padding: 0.4rem;
    border-radius: 1rem;
    

}

 #resetbutton{
    height: 5vmin;
    width: 15vmin;
    border-radius: 2rem;
    margin: 20px;
    color: rgb(28, 39, 199);
    background-color: #ffe6a7;
 }